<ul>
{{#each .}}
<li class="item GU" style="height:30px;line-height:30px;" data-cartitem_id="{{cartitem_id}}" data-ps_id="{{ps_id}}">
    <span class="name D-n">
        {{productName}}
    </span>
    <span class="GU-1-2">
        <span class="sex">
            {{sex}}
        </span>
        <span class="size">
            {{size}}
        </span>
    </span>
    <span class="count GU-1-2 Ta-r">
        <button class="count-btn minus NA Bdr-2 Bgc-2 C-2 P-0" style="width:18px;height:18px;line-height:0;border-radius:20px">-</button>

        <input type="text" value="{{count}}" class="count-input C-2 Ta-c Ml-5 Mr-5 Bdr-0" style="width:24px;height:24px;border-radius:3px;" />

        <button class="count-btn plus NA Bdr-2 Bgc-2 C-2 P-0" style="width:18px;height:18px;line-height:0;border-radius:20px">+</button>

        </div>
    </span>
</li>
{{/each}}
</ul>