<style>
.table-manage .tr-manage:hover {
    background: #83baeb;
}
.table-manage .edit {
    display: none;
}
.table-manage .edit_btn {
    display: block;
}
.table-manage .editmode .edit {
    display: block;
}
.table-manage .editmode .edit_btn {
    display: none;
}
</style>

<h1>{{h1}}</h1>
<div class="mod-signup W-100">
    <table class="table-manage W-100 Bdr-1 Lh-5" data-table="customer">
        <tr class="Bgc-2">
            <th></th>
            <th>客戶名稱</th>
            <th>Email</th>
            <th>電話</th>
            <th>郵遞區號</th>
            <th>住址</th>
            <th>國家</th>
        </tr>
        {{#each body}}
        <tr class="tr-manage">
            <td></td>
            <td>
                <span data-cid={{id}} data-field="customerName" class="item">
                    {{!--
                        <button class="edit_btn">{{customerName}}</button>
                    --}}
                    {{customerName}}
                    <span class="edit">
                        <input class="value" value="{{customerName}}"/>
                        <button class="save">更新</button>
                        <button class="cancel">取消</button>
                    </span>
                </span>
            </td>
            <td>
                <span data-cid={{id}} data-field="email" class="item">
                    {{!--
                    <button class="edit_btn">{{email}}</button>
                    --}}
                    {{email}}
                    <span class="edit">
                        <input class="value" value="{{email}}"/>
                        <button class="save">更新</button>
                        <button class="cancel">取消</button>
                    </span>
                </span>
            </td>
            <td>
                <span data-cid={{id}} data-field="phone" class="item">
                    {{!--
                    <button class="edit_btn">{{phone}}</button>
                    --}}
                    {{phone}}
                    <span class="edit">
                        <input class="value" value="{{phone}}"/>
                        <button class="save">更新</button>
                        <button class="cancel">取消</button>
                    </span>
                </span>
            </td>
            <td>
                <span data-cid={{id}} data-field="zip" class="item">
                    {{!--
                    <button class="edit_btn">{{zip}}</button>
                    --}}
                    {{zip}}
                    <span class="edit">
                        <input class="value" value="{{zip}}"/>
                        <button class="save">更新</button>
                        <button class="cancel">取消</button>
                    </span>
                </span>
            </td>
            <td>
                <span data-cid={{id}} data-field="address" class="item">
                    {{!--
                    <button class="edit_btn">{{address}}</button>
                    --}}
                    {{address}}
                    <span class="edit">
                        <input class="value" value="{{address}}"/>
                        <button class="save">更新</button>
                        <button class="cancel">取消</button>
                    </span>
                </span>
            </td>
            <td>
                <span data-cid={{id}} data-field="country" class="item">
                    {{!--
                    <button class="edit_btn">{{country}}</button>
                    --}}
                    {{country}}
                    <span class="edit">
                        <input class="value" value="{{country}}"/>
                        <button class="save">更新</button>
                        <button class="cancel">取消</button>
                    </span>
                </span>
            </td>
        </tr>
        {{/each}}
    </table>
</div>