<div class="hd Pos-r Z-5" style="height:50px">
    <div class="header Pos-f W-100 T-0 Bgc-6" style="height: 50px;">
        {{#brand}}
        <div class="logo Mt-5 Pos-r" style="left:15px">
            <a href="/{{slug}}/"><img src="{{logo}}" alt="{{brandName_cht}} {{brandName}}" class="Pos-a T-0"/></a>
            <h1 class="M-0 F-l">
                <span class="Fz-2 Pos-a" style="left: 50px; top:9px;color:#000">{{brandName_cht}}</span>
                <span class="Fz-1 Pos-a Fw-3" style="left: 51px; top:26px; letter-spacing:0.3px; color:#888">{{brandName}}</span>
            </h1>
        </div>

        <div class="nav">
            <div class="Pos-a T-0 Z-2" style="height:50px;line-height:50px;right: 100px">
                <a href="/{{slug}}/account" class="anim P-0 Bg-n Bdr-0 Fw-1 Fz-3 Pl-5 Pr-5 C-5 Td-0">查詢訂單</a>
            </div>
            <div class="cart Pos-a T-0 Z-1 Ws-nw" style="width:60px;right:25px">
                <div class="hd" style="height:50px;line-height:50px;">
                    <button class="anim cart-btn Pos-a R-0 P-0 Bg-n Bdr-0 Fw-1 Fz-3 Pl-5 Pr-5 C-5">
                        購物車
                        <span class="D-n items-count D-b Pos-a C-3 Fz-0 Ta-c Pt-1 Pr-1" style="top:32%;right:-18px;width:16px;height:16px;line-height:16px;background:red;border-radius:30px"></span>
                    </button>
                </div>
                <div class="bd Pos-a Bgc-5 P-10 Lh-5 Fz-3 C-1 Op-0 D-n" style="width:200px;right:-20px;-webkit-transition: opacity 0.2s;border-radius: 0 0 4px 4px;">
                    <div class="bd-ul"></div>
                    <div class="ft Pos-r">
                        <button class="refresh-cart D-b Pt-3 Pb-3 NA Bdr-1 Bgc-4 W-100 H-100 Fz-3 Td-0 C-2 Ta-c Mt-10 Mb-10 disabled" style="border-radius:6px" disabled>更新購物車</button>
                        <a href="/{{slug}}/checkout" class="D-b Pt-3 Pb-3 NA Bgc-4 W-100 H-100 Fz-3 Td-0 C-2 Ta-c" style="border-radius:6px">櫃檯結帳</a>
                    </div>
                </div>
            </div>
        </div>
        {{/brand}}
    </div>
</div>
