<!DOCTTYPE html>
<html>
    {{> head }}
<body>
    <div class="hd main">
        {{> header }}
    </div>
    <div class="bd main">
        {{> body }}
    </div>
</body>
<script>
    var X = {
        params: {
            brand: '{{brand}}',
            b_id: '{{b_id}}',
            uuid: '{{uuid}}',
            readUuid: true,
            json: {{#if json}} {{{json}}} {{else}} '' {{/if}}
        }
    };
    {{#if templates}}
    X.templates = {{templates}};
    {{/if}}
</script>
<!--SCRIPTS-->
<script src="/js/jquery-1.11.1.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/handlebars.runtime-v1.3.0.js"></script>
<script src="/js/common.js"></script>
<!--SCRIPTS END-->
{{#js}}
<script src="/js/{{#if ../isAdmin}}manage{{else}}page{{/if}}/{{.}}"></script>
{{/js}}
</html>