<style>
.table-manage .tr-manage:hover {
    background: #83baeb;
}
.table-manage .btn-toggle {
    display: none;
}
.table-manage .btn-edit {
    visibility: hidden;
}
.table-manage .tr-manage:hover .btn-edit {
    visibility: visible;
}
.table-manage .editmode button.btn-toggle {
    display: block;
}
.table-manage .editmode .btn-edit {
    display: none;
}
</style>
<h1>{{h1}}</h1>
<div class="mod-signup W-100">
    <table class="table-manage W-100" data-table="order">
        <tr>
            <th>訂單號碼</th>
            <th>客戶名稱</th>
            <th style="width:200px">購買項目</th>
            <th>總價</th>
            <th>收件人</th>
            <th>轉帳銀行</th>
            <th>轉帳確認</th>
            <th>備註</th>
            <th>管理</th>
        </tr>
        {{#each body}}
        <tr class="tr-manage" data-index="{{@index}}">
            <td>
                <span data-oid={{id}} data-field="id" class="item">
                    {{id}}
                </span>
            </td>
            <td>
                <span data-oid={{id}} data-field="customer" class="item">
                    {{customer}}
                </span>
            </td>
            <td>
                <ul class="item" data-oid={{id}}  data-field="items" data-aggregate="items">
                {{#each items}}
                    <li data-pid="{{@key}}">
                        <span>{{name}}</span>
                        <span>{{sex}}</span>
                        <span>{{size}}</span>
                        {{#if sale}}
                        <span>{{sale}}</span>
                        {{else}}
                        <span>{{retail}}</span>
                        {{/if}}
                        <span>x</span>
                        <span data-field="count">
                            {{count}}
                        </span>
                    </li>
                {{/each}}
                </ul>
            </td>
            <td>
                <span data-oid={{id}} data-field="subtotal" class="item">
                    {{subtotal}}
                </span>
            </td>
            <td>
                <div class="D-b">
                    {{recipient}}
                </div>
                <div class="D-b">
                    {{zip}} {{address}} {{country}}
                </div>
                <div>
                    {{phone}}
                </div>
            </td>
            <td>
                {{#if bankCode}}
                <ul>
                    <li>
                        <span data-oid={{id}} data-field="bankCode" class="item">
                            {{bankCode}}
                        </span>
                    </li>
                    <li>
                        <span data-oid={{id}} data-field="bankAccountTail" class="item">
                            {{bankAccountTail}}
                        </span>
                    </li>
                    <li>
                        <span data-oid={{id}} data-field="transferAmount" class="item">
                            ${{transferAmount}}
                        </span>
                    </li>
                </ul>
                {{/if}}
            </td>
            <td>
                <span class="item paymentVerified">

                    <select name="paymentVerified" class="select-edit" data-oid={{id}} data-field="paymentVerified" data-value="{{paymentVerified}}" disabled>
                        <option name="paymentVerified" value="true" {{#if paymentVerified}}selected{{/if}}>已確認</option>
                        <option name="paymentVerified" value="" {{#if paymentVerified}}{{else}}selected{{/if}}>尚未確認</option>
                    </select>
                    <button class="btn-edit">編輯</button>
                    <button class="btn-save btn-toggle">儲存修改</button>
                    <button class="btn-cancel btn-toggle">取消</button>

                </span>
            </td>
            <td>
                <span>{{note}}</span>
            </td>
            <td>
                <button class="btn-editall">編輯</button>
                <button class="btn-delete">刪除</button>
            </td>
        </tr>
        {{/each}}
    </table>
</div>