<div class="mod-products W-100">
    <div>
        <h1>{{h1}}</h1>
        <div>
            <div class="cart">
                <div class="hd">購物車</div>
                <div class="bd"></div>
                <div class="ft">
                    <a href="/{{brand}}/checkout" class="checkout">櫃檯結帳</a>
                </div>
            </div>
            <ul>
            {{#each products}}
                <li>
                    <div class="">{{productName}}</div>

                        {{#if sale}}
                        <div class="sale">
                        {{/if}}

                        <div class="retail">{{retail}}</div>

                        {{#if sale}}
                        <div class="sale-price">{{sale}}</div>
                        {{/if}}

                        {{#sale}}
                        </div>
                        {{/sale}}

                    <ul>
                        {{#images}}
                        <li>
                            <img src="{{.}}" />
                        </li>
                        {{/images}}
                    </ul>
                    {{#if productSpecific.male}}
                    <h2>男尺寸</h2>
                    <table class="W-100 Ta-c">
                        <tr>
                            <th>size</th>
                            <th>chest_diameter</th>
                            <th>waist_diameter</th>
                            <th>hip_diameter</th>
                        </tr>
                        {{#each productSpecific.male}}
                        <tr>
                            <td>{{size}}</td>
                            <td>{{chest_diameter}}</td>
                            <td>{{waist_diameter}}</td>
                            <td>{{hip_diameter}}</td>
                        </tr>
                        {{/each}}
                    </table>
                    {{/if}}

                    {{#if productSpecific.female}}
                    <h2>女尺寸</h2>
                    <table class="W-100 Ta-c">
                        <tr>
                            <th>size</th>
                            <th>chest_diameter</th>
                            <th>waist_diameter</th>
                            <th>hip_diameter</th>
                        </tr>
                        {{#each productSpecific.male}}
                        <tr>
                            <td>{{size}}</td>
                            <td>{{chest_diameter}}</td>
                            <td>{{waist_diameter}}</td>
                            <td>{{hip_diameter}}</td>
                        </tr>
                        {{/each}}
                    </table>
                    {{/if}}

                    {{#if productSpecific.unisex}}
                    <table class="W-100 Ta-c">
                        <tr>
                            <th>size</th>
                            <th>chest_diameter</th>
                            <th>waist_diameter</th>
                            <th>hip_diameter</th>
                        </tr>
                        {{#each productSpecific.male}}
                        <tr>
                            <td>{{size}}</td>
                            <td>{{chest_diameter}}</td>
                            <td>{{waist_diameter}}</td>
                            <td>{{hip_diameter}}</td>
                        </tr>
                        {{/each}}
                    </table>
                    {{/if}}
                </li>
            {{/each}}
            </ul>

            <div class="add">
                <select class="add-select">
                    <option value="0">選擇尺寸</option>
                    {{#each products}}
                    {{#each productSpecific.male}}
                    <option value="pid_{{id}}" data-ps_id="{{id}}" data-p_name="{{productName}}" data-ps_sex="{{sex}}" data-ps_size="{{size}}">{{sex}} {{size}}</option>
                    {{/each}}
                    {{#each productSpecific.female}}
                    <option value="pid_{{id}}" data-ps_id="{{id}}" data-p_name="{{productName}}" data-ps_sex="{{sex}}" data-ps_size="{{size}}">{{sex}} {{size}}</option>
                    {{/each}}
                    {{#each productSpecific.unisex}}
                    <option value="pid_{{id}}" data-ps_id="{{id}}" data-p_name="{{productName}}" data-ps_sex="{{sex}}" data-ps_size="{{size}}">{{sex}} {{size}}</option>
                    {{/each}}
                    {{/each}}
                </select>
                <button class="add-button D-n">加入購物車</button>
            </div>

        </div>
    </div>
</div>