{{> header}}
<form class="form" action="{{formAction}}" method="POST">
    <ul>
        {{#form}}
        <li>
        {{#if textarea}}
            <label>{{label}}</label>
            <textarea name="{{textarea}}" class="{{textarea}}" />
            {{#if description}}
                <p>{{description}}</p>
            {{/if}}
        {{/if}}

        {{#if text}}
            <label>{{label}}</label>
            <input type="text" name="{{text}}" class="{{text}}" />
            {{#if description}}
                <p>{{description}}</p>
            {{/if}}
        {{/if}}

        {{#if number}}
            <label>{{label}}</label>
            <input type="number" name="{{number}}" class="{{number}}" />
            {{#if description}}
                <p>{{description}}</p>
            {{/if}}
        {{/if}}

        {{#if select}}
            <label>{{label}}</label>
            <select name="{{select}}" class="{{select}}" />
            {{#selectOptions}}
                <option value={{value}} data-description={{description}}>{{key}}</option>
            {{/selectOptions}}
            </select>
        {{/if}}

        {{#if radio}}
            {{#radioOptions}}
                <label>{{key}}</label>
                <input type="radio" name="{{key}}" class="{{key}}" value={{value}}/>
                <p>{{description}}</p>
            {{/radioOptions}}
        {{/if}}

        {{#if button}}
            {{#buttonOptions}}
                <label>{{label}}</label>
                <button name="{{label}}" class="{{label}}" />{{label}}</button>
                <p>{{description}}</p>
            {{/buttonOptions}}
        {{/if}}
        </li>
       {{/form}}
       <input type="submit" value="Submit" />
    </ul>
</form>
{{> footer}}