<div class="D-n desc Pos-a P-10 Bgc-1" style="top:50px; right: 10px; width:18%;min-width:180px;border-radius:3px;">
    <h2 class="Fz-4 Fw-1 Mt-1 Mb-7 C-3 Ls-1">{{productName}}</h2>
    <div class="price Fz-3 Fw-1 Mb-5 C-3 Ls-1">
        <span class="retail {{#if sale}}Td-2{{/if}}">NT${{retail}}</span>
        {{#if sale}}
        <span class="sale-price Ml-7">特價 NT${{sale}}</span>
        {{/if}}
    </div>
    <div class="add">
        <select class="add-select">
            <option value="0">選擇尺寸</option>
            {{#each productSpecific.male}}
            <option value="pid_{{id}}" data-ps_id="{{id}}" data-p_name="{{productName}}" data-ps_sex="{{sex}}" data-ps_size="{{size}}">{{sex}} {{size}}</option>
            {{/each}}
            {{#each productSpecific.female}}
            <option value="pid_{{id}}" data-ps_id="{{id}}" data-p_name="{{productName}}" data-ps_sex="{{sex}}" data-ps_size="{{size}}">{{sex}} {{size}}</option>
            {{/each}}
            {{#each productSpecific.unisex}}
            <option value="pid_{{id}}" data-ps_id="{{id}}" data-p_name="{{productName}}" data-ps_sex="{{sex}}" data-ps_size="{{size}}">{{sex}} {{size}}</option>
            {{/each}}
        </select>
        <button class="add-button Fz-2 Pt-3 Pb-3 D-n">加入購物車</button>
    </div>
    <div class="shortDesc Fz-2 C-1 Mt-10 Mb-7 Lh-5 Ls-1">
        {{shortDesc}}
    </div>
</div>